.modal-footer {   border-top: 0px; }
#workspace{
    width: 1000px;
    height: 600px;
    overflow: auto;
    overflow-y: hidden;
    margin: 0 auto;
    white-space: nowrap
}

#desk{
    width: 1000px;
    height: 600px;
    overflow: auto;
    overflow-y: hidden;
    margin: 0 auto;
    white-space: nowrap
}

#category{
    width: 350px;
    height: 700px;
    overflow-y: scroll;
    display:inline-block;
}

#label{
    width:350px;
    height:200px;
    background-color: #ededed;
}

